/* Resetto i margini */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: AlbraBold;
  src: url('font/Albra\ Bold.otf');
}

@font-face {
  font-family: AlbraLight;
  src: url('font/Albra\ Light.otf');
}

@font-face {
  font-family: PangramLight;
  src: url('font/Pangram-Light.otf');
}
@font-face {
  font-family: PangramRegular;
  src: url('font/Pangram-Regular.otf');
}

html, body {
  max-width: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  font-family: 'AlbraBold';
}

body::-webkit-scrollbar {
  display: none;
}

body {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

/* Loading page */
/* #bm{
  position: fixed;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background:#212121;
} 

.all-content {
  display: none;
  opacity: 0;
  height: 100vh;
  transition: opacity 2s ease-in;
}  */

/* Style the video: 100% width and height to cover the entire window */
#video-bg {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1; 
  object-fit: cover;
} 

.testo{
  text-align: center;
  color: #EFE402;
  z-index: 1;
}

.first a{ 
  font-size: 27.5rem;
  line-height: 85%;
  letter-spacing: 1rem;
}
.second {
  font-size: 20rem;
  line-height: 100%;
  letter-spacing: 1rem;
}

.first a:link{
  text-decoration: none;
  color: #EFE402;
}
.first a:visited{
  text-decoration: none;
  color: #EFE402;
}

.second a:link{
  text-decoration: none;
  color: #EFE402;
}
.second a:visited{
  text-decoration: none;
  color: #EFE402;
}

.desc{
  font-family: PangramLight;
}

.about-content{
  position: absolute;
  top: 100px;
}

.showreel-content{
  position: absolute;
  top: 200px;
  height: 100vh;
  width: auto;
}

/* Mobile */

@media all and (max-width: 580px) {

  #bm-black{
    width: 100px;
    height: 100px;
  }

  #bm{
    width: 100px;
    height: 100px;
  }

  #bm-yellow{
    display: none;
  }

  #logo-pc{
    display: none;
  }

  .brand {
    position: absolute;
    left: 20px;
    z-index: 99;
  }

  #logo-mobile > img{
    height: 100px;
  }

  /* Showreel */

  .showreel-info{
    color: #ffffff;
    font-family: PangramLight;
    padding-top: 5vh;
    padding-bottom: 10vh;
    width: 100%;
    text-align: center;
    margin: auto;
  }

  .showreel-info > .desc.pc{
    display: none;
  }

  .showreel-info > .desc {
    margin-top: 2vh;
    color:rgba(255, 255, 255, 0.3);
  }

  #showreel-video{
    width: 100vw;
    height: auto;
  }

  /* Animation about page */
  /* Versione mobile */

  @keyframes fade-in {
    0%{
      opacity: 0;
      /* top: 50px; */
      top: 20px;
    }
    100% {
      opacity: 1;
      top: 0px;
    }
  }

  .about-content .primo{
    position: relative;
    font-size: 10vh;
    line-height: 90%;
    animation: fade-in .25s linear forwards;
  }

  .about-content .secondo{
    opacity: 0;
    position: relative;
    font-size: 10vh;
    line-height: 90%;
    animation: fade-in .2s linear forwards .3s;
  }

  .about-content .terzo{
    opacity: 0;
    position: relative;
    font-size: 14vh;
    line-height: 90%;
    animation: fade-in .4s linear forwards .5s;
  }

  .line1{
    opacity: 0;
    position: relative;
    animation: fade-in 0.4s linear forwards .7s;
    font-family: PangramLight;
    margin-bottom: 2vh;
    font-size: 2.2vh;
  }
  .line2{
    opacity: 0;
    position: relative;
    animation: fade-in 0.4s linear forwards .9s;
    font-family: PangramLight;
    margin-bottom: 2vh;
    font-size: 2.2vh;
  }
  .line3{
    opacity: 0;
    position: relative;
    animation: fade-in 0.4s linear forwards 1.1s;
    font-family: PangramLight;
    margin-bottom: 2vh;
    font-size: 2.2vh;
  }
  .line4{
    opacity: 0;
    position: relative;
    animation: fade-in 0.4s linear forwards 1.3s;
    font-family: PangramLight;
    margin-bottom: 2vh;
    font-size: 2.2vh;
  }
  .about-content p{
    font-size: 2.3vh;
  }

  .high{
    font-family: AlbraBold;
    font-size: 2.4vh;
  }

  /* .greetings{
    opacity: 0;
    position: relative;
    animation: fade-in 0.6s linear forwards 1.3s;
    font-weight: bold;
    margin-top: 4vh;
  } */

  #cv, 
  #cv:visited{
    text-decoration: none;
    color: #000000;
    opacity: 0;
    position: relative;
    animation: fade-in 0.6s linear forwards 1.5s;
    font-family: PangramLight;
    font-size: 2.3vh;
  }

  #cv:hover{
    font-style: italic;
  }

  .svg-container{
    fill: transparent;  
    stroke-width: 4;
    stroke: #EFE402;
    width: 80%;
    height: auto;
    position: relative;
    top: 50%;
    left: 50%; 
    transform: translate(-50%, -50%);
  }
  
  .svg-container:hover{
    fill: #EFE402;
  }

  .about-space{
    margin: 5vh 5vh 9vh 5vh;
    height: 100%;
  }

  .footer p {
    font-size: 2.3vh;
  }

}

/* Tablet */
@media all and (min-width: 580px) and (max-width: 1023px){

  #bm-black{
    width: 120px;
    height: 120px;
  }

  #bm{
    width: 100px;
    height: 100px;
  }

  #bm-yellow{
    display: none;
  }

  .brand {
    position: absolute;
    top: -10px;
    left: 20px;
    z-index: 99;
  }

  #logo-mobile > img{
    height: 100px;
  }


  .showreel-info{
    color: #ffffff;
    font-family: PangramLight;
    padding-top: 5vh;
    padding-bottom: 10vh;
    width: 60%;
    text-align: center;
    margin: auto;
  }

  .showreel-info > .desc.pc{
    display: none;
  }

  .showreel-info > .desc {
    margin-top: 2vh;
    color:rgba(255, 255, 255, 0.3);
  }

  #showreel-video{
    width: 100vw;
    height: auto;
  }

  /* Animation about page */
  /* Versione tablet */

  @keyframes fade-in {
    0%{
      opacity: 0;
      /* top: 50px; */
      top: 20px;
    }
    100% {
      opacity: 1;
      top: 0px;
    }
  }

  .about-content .primo{
    position: relative;
    font-size: 14vh;
    line-height: 90%;
    animation: fade-in .25s linear forwards;
  }

  .about-content .secondo{
    opacity: 0;
    position: relative;
    font-size: 14vh;
    line-height: 90%;
    animation: fade-in .2s linear forwards .3s;
  }

  .about-content .terzo{
    opacity: 0;
    position: relative;
    font-size: 17vh;
    line-height: 90%;
    animation: fade-in .4s linear forwards .5s;
  }

  .line1{
    opacity: 0;
    position: relative;
    animation: fade-in 0.4s linear forwards .7s;
    font-family: PangramLight;
    margin-bottom: 2vh;
    font-size: 2.2vh;
  }
  .line2{
    opacity: 0;
    position: relative;
    animation: fade-in 0.4s linear forwards .9s;
    font-family: PangramLight;
    margin-bottom: 2vh;
    font-size: 2.2vh;
  }
  .line3{
    opacity: 0;
    position: relative;
    animation: fade-in 0.4s linear forwards 1.1s;
    font-family: PangramLight;
    margin-bottom: 2vh;
    font-size: 2.2vh;
  }
  .line4{
    opacity: 0;
    position: relative;
    animation: fade-in 0.4s linear forwards 1.3s;
    font-family: PangramLight;
    margin-bottom: 2vh;
    font-size: 2.2vh;
  }

  .high{
    font-family: AlbraBold;
    font-size: 2.4vh;
  }

  /* .greetings{
    opacity: 0;
    position: relative;
    animation: fade-in 0.6s linear forwards 1.3s;
    font-weight: bold;
    margin: 4vh 0 1vh 0;
  } */

  #cv, 
  #cv:visited{
    text-decoration: none;
    color: #000000;
    opacity: 0;
    position: relative;
    animation: fade-in 0.6s linear forwards 1.5s;
    font-family: PangramLight;
    font-size: 2.3vh;
  }

  #cv:hover{
    font-style: italic;
  }
  .about-content p{
    font-size: 2.3vh;
  }

  .svg-container{
    fill: transparent;  
    stroke-width: 4;
    stroke: #EFE402;
    width: 80%;
    height: calc(100vh - 15vh);
    position: relative;
    top: 10vh;
    left: 50%; 
    transform: translate(-50%);
  }
  
  .svg-container:hover{
    fill: #EFE402;
  }

  .about-space{
    margin: 5vh 5vh 7vh 5vh;
    height: 100%;
  }

  .footer p {
    font-size: 2.3vh;
  }

}

/* Desktop */
@media all and (min-width: 1024px) {

  #bm-yellow{
    width: 100px;
    height: 100px;
  }

  #bm-black{
    display: none;
  }

  #bm{
    width: 100px;
    height: 100px;
  }

  .brand {
    position: absolute;
    left: 1vw;
    z-index: 99;
  }

  #logo-mobile > img{
    height: 100px;
  }

  /* Animation about page */

  @keyframes fade-in {
    0%{
      opacity: 0;
      /* top: 50px; */
      top: 20px;
    }
    100% {
      opacity: 1;
      top: 0px;
    }
  }
  
  .about-content .primo{
    position: relative;
    /* font-size: 8vh; */
    font-size: 17vh;
    line-height: 90%;
    animation: fade-in .25s linear forwards;
  }
  
  .about-content .secondo{
    opacity: 0;
    position: relative;
    /* font-size: 8vh; */
    font-size: 17vh;
    line-height: 90%;
    animation: fade-in .2s linear forwards .3s;
  }
  
  .about-content .terzo{
    opacity: 0;
    position: relative;
    /* font-size: 8vh; */
    font-size: 17vh;
    line-height: 90%;
    animation: fade-in .4s linear forwards .5s;
  }
  
  .line1{
    opacity: 0;
    position: relative;
    animation: fade-in 0.4s linear forwards .7s;
    font-family: PangramLight;
    margin-bottom: 2vh;
    font-size: 2.2vh;
  }
  .line2{
    opacity: 0;
    position: relative;
    animation: fade-in 0.4s linear forwards .9s;
    font-family: PangramLight;
    margin-bottom: 2vh;
    font-size: 2.2vh;
  }
  .line3{
    opacity: 0;
    position: relative;
    animation: fade-in 0.4s linear forwards 1.1s;
    font-family: PangramLight;
    margin-bottom: 2vh;
    font-size: 2.2vh;
  }
  .line4{
    opacity: 0;
    position: relative;
    animation: fade-in 0.4s linear forwards 1.3s;
    font-family: PangramLight;
    margin-bottom: 2vh;
    font-size: 2.2vh;
  }

  .high{
    font-family: AlbraBold;
    font-size: 2.4vh;
  }

  #cv, 
  #cv:visited{
    text-decoration: none;
    color: #000000;
    opacity: 0;
    position: relative;
    animation: fade-in 0.6s linear forwards 1.5s;
    font-family: PangramLight;
    font-size: 2.2vh;
  }

  #cv:hover{
    font-style: italic;
  }

  .showreel-content{
    position: absolute;
    top: 100px;
    height: calc(100vh + 100px);
    width: auto;
  }

  .video{
    width: 100vw;
    height: calc(100vh - 100px);
  }

  .showreel-info{
    color: #ffffff;
    font-family: PangramLight;
    padding-top: 5vh;
    padding-bottom: 10vh;
    width: 60%;
    text-align: center;
    margin: auto;
  }

  .showreel-info > .desc.mobile{
    display: none;
  }

  .showreel-info > .desc {
    margin-top: 2vh;
    color:rgba(255, 255, 255, 0.3);
  }

  
  #showreel-video{
    width: 100%;
    height: 100%;
  }

  .svg-container{
    fill: transparent;  
    stroke-width: 4;
    stroke: #EFE402;
    width: 80%;
    height: calc(100vh - 15vh);
    position: relative;
    top: 10vh;
    left: 50%; 
    transform: translate(-50%);
  }
  
  .svg-container:hover{
    fill: #EFE402;
  }

  .about-space{
    margin: 10vh 5vh 0vh 5vh;
    height: 80vh;
  }

  .footer p {
    font-size: 2.5vh;
  }

  .img-title{
    font-size: 2em;
    font-weight: bold;
  }

  .img-description{
    font-size: 1.25em;
    margin-top: 0.25em;
  }

}

/* Illustrations */

.grid-item {
  /* display: flex;
  align-items: center;
  justify-content: center; */

  transition: transform 0.3s ease-in-out;

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  font-size: 2em;
}

.grid-item:hover {
  transform: scale(1.02);
}

.black {
  color: #000000;
}
.white{
  color: #ffffff;
}
.yellow{
  color:#EFE402;
}

.grid-item:nth-child(1):hover::before {
  font-size: 0.5em;
  content: 'Illustrations';
  padding: 10px;
}
.grid-item:nth-child(2):hover::after {
  content: 'Test 2';
}
.grid-item:nth-child(3):hover::after {
  content: 'Test 2';
}
.grid-item:nth-child(4):hover::after {
  content: 'Test 2';
}
.grid-item:nth-child(5):hover::after {
  content: 'Test 2';
}
.grid-item:nth-child(6):hover::after {
  content: 'Test 2';
}
.grid-item:nth-child(7):hover::after {
  content: 'Test 2';
}
.grid-item:nth-child(8):hover::after {
  content: 'Test 2';
}
.grid-item:nth-child(9):hover::after {
  content: 'Test 2';
}
.grid-item:nth-child(10):hover::after {
  content: 'Test 2';
}
.grid-item:nth-child(11):hover::after {
  content: 'Test 2';
}
.grid-item:nth-child(12):hover::after {
  content: 'Test 2';
}
.grid-item:nth-child(13):hover::after {
  content: 'Test 2';
}
.grid-item:nth-child(14):hover::after {
  content: 'Test 2';
}
.grid-item:nth-child(15):hover::after {
  content: 'Test 2';
}
.grid-item:nth-child(16):hover::after {
  content: 'Test 2';
}
.grid-item:nth-child(17):hover::after {
  content: 'Test 2';
}
.grid-item:nth-child(18):hover::after {
  content: 'Test 2';
}
.grid-item:nth-child(19):hover::after {
  content: 'Test 2';
}
.grid-item:nth-child(20):hover::after {
  content: 'Test 2';
}
.grid-item:nth-child(21):hover::after {
  content: 'Test 2';
}
.grid-item:nth-child(22):hover::after {
  content: 'Test 2';
}
.grid-item:nth-child(23):hover::after {
  content: 'Test 2';
}
.grid-item:nth-child(24):hover::after {
  content: 'Test 2';
}
.grid-item:nth-child(25):hover::after {
  content: 'Test 2';
}
.grid-item:nth-child(26):hover::after {
  content: 'Test 2';
}
.grid-item:nth-child(27):hover::after {
  content: 'Test 2';
}
.grid-item:nth-child(28):hover::after {
  content: 'Test 2';
}
.grid-item:nth-child(29):hover::after {
  content: 'Test 2';
}
.grid-item:nth-child(30):hover::after {
  content: 'Test 2';
}
.grid-item:nth-child(31):hover::after {
  content: 'Test 2';
}
.grid-item:nth-child(32):hover::after {
  content: 'Test 2';
}
.grid-item:nth-child(33):hover::after {
  content: 'Test 2';
}
.grid-item:nth-child(34):hover::after {
  content: 'Test 2';
}
.grid-item:nth-child(35):hover::after {
  content: 'Test 2';
}
.grid-item:nth-child(36):hover::after {
  content: 'Test 2';
}
.grid-item:nth-child(37):hover::after {
  content: 'Test 2';
}
.grid-item:nth-child(38):hover::after {
  content: 'Test 2';
}
.grid-item:nth-child(39):hover::after {
  content: 'Test 2';
}
.grid-item:nth-child(40):hover::after {
  content: 'Test 2';
}


.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-auto-rows: minmax(300px, auto);
  gap: 20px;
  padding: 20px;
  grid-auto-flow: dense;
}

.tall {
  grid-row: span 2;
}

@media (min-width: 600px) {
  .grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(30vw, 1fr));
    grid-auto-rows: minmax(30vw, auto);
    gap: 20px;
    padding: 20px;
    grid-auto-flow: dense;
  }
  .wide {
    grid-column: span 2;
  }
  .special {
    grid-column: span 3;
    grid-row: span 2;
  }
}

/* Nav */
nav {
  float: right;
  /* position: absolute; */
  position: fixed;
  right: 0;
}
nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
nav ul li {
  float: left;
  position: relative;
}
nav ul li a {
  display: block;
  padding: 0 20px;
  line-height: 100px;
  background: #efe30200;
  color: #EFE402;
  text-decoration: none;
  font-family: PangramLight; 
  font-size: 1.2em;
}
nav ul li a:hover {
  color: #000000;
  font-style: italic;
}
nav ul li a:not(:only-child):after {
  padding-left: 4px;
  content: " ▾";
}
nav ul li ul li {
  min-width: 190px;
}
nav ul li ul li a {
  padding: 15px;
  line-height: 20px;
  z-index: 1;
}

.nav-dropdown {
  position: absolute;
  display: none;
  z-index: 1;
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.15);
}

.nav-mobile {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  height: 100px;
  width: 100px;
}

#nav-toggle {
  position: absolute;
  left: 18px;
  top: 22px;
  cursor: pointer;
  padding: 25px 50px 20px 20px;
}
#nav-toggle span,
#nav-toggle span:before,
#nav-toggle span:after {
  cursor: pointer;
  border-radius: 1px;
  height: 3px;
  width: 22.5px;
  background: #000000;
  position: absolute;
  display: block;
  content: "";
  transition: all 300ms ease-in-out; 
}
#nav-toggle span:before {
  top: -8px;
}
#nav-toggle span:after {
  bottom: -8px;
}
#nav-toggle.active span {
  background-color: transparent;
}
#nav-toggle.active span:before, #nav-toggle.active span:after {
  top: 0;
}
#nav-toggle.active span:before {
  transform: rotate(45deg);
}
#nav-toggle.active span:after {
  transform: rotate(-45deg);
}

@media only screen and (max-width: 800px) {

  .nav-mobile {
    display: block;
    background: #EFE402;
  }
  nav {
    width: 100%;
    padding: 80px 0 15px;
  }
  nav ul {
    display: none;
  }
  nav ul li {
    float: none;
  }
  nav ul li a {
    padding: 15px;
    line-height: 20px;
    text-align: right;
    color: #000000;
  }
  nav ul li ul li a {
    padding-left: 20px;
  }
  .nav-dropdown {
    position: static;
  }
  .navigation {
    height: 100px;
    width: 100%;
    background: #EFE402;
    position: fixed;
    z-index: 99;
  }
  .brand a,
  .brand a:visited {
    color: #000000;
    text-decoration: none;
  }
  nav ul li a {
    background: #EFE402;
  }
  .nav-list{
    padding: 0 25px 25px;
    background: #EFE402;
  } 

}

@media screen and (min-width: 800px) {

  .nav-list {
    display: block !important;
  }
  .navigation {
    height: 100px;
    width: 100%;
    position: fixed;
    z-index: 99;
  }

  .brand a,
  .brand a:visited {
    color: #EFE402;
    text-decoration: none;
  }
}

.nav-list{
  padding-left: 25px;
  background: #EFE402;
}

.nav-container {
  max-width: 1000px;
  margin: 0 auto;
}


.center{
  width: 100vw;
  height: 100vh;
}

/* Footer */

.footer{
  text-align: center;
  color: #ffffff;
  padding: 4vh;
  width: 100vw;
  background: #0f0b0b;
}

.footer .slogan:hover{
  color: #EFE402;
}

.footer .social{
  padding: 2vh;
}

.footer .social > a:hover{
  color:#EFE402;
}

.footer .social > a, 
.footer .social > a.visited{
  margin-left: 1vh;
  color: #ffffff;
  text-decoration: none;
}

#cr{
  font-size: 1.45vh;
}

.footer .copyright{
  font-size: 1.5vh;
  font-family: PangramLight;
}

.fa-facebook-f{
  font-size: 1.5em;
}

.fa-instagram{
  font-size: 1.5em;
}

.fa-vimeo-v{
  font-size: 1.5em;
}


/* Gallery Illustrations

.gallery{
  padding: 10px;
  max-width: 100vw;
  margin: 0 auto;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
  grid-auto-rows: 500px;
  grid-auto-flow: dense;
}

.v-stretch{
  grid-row: span 2;
}

.h-stretch{
  grid-column: span 2;
}

.big-stretch{
  grid-row: span 2;
  grid-column: span 2;
}

.gallery div img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media(max-width: 560px){

    .v-stretch{
      grid-row: span 1;
    }
  
    .h-stretch{
      grid-column: span 1;
    }
  
    .big-stretch{
      grid-row: span 1;
      grid-column: span 1; 
    }
} */