/* Resetto i margini */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: AlbraBold;
  src: url('font/Albra\ Bold.otf');
}

@font-face {
  font-family: AlbraLight;
  src: url('font/Albra\ Light.otf');
}

@font-face {
  font-family: PangramLight;
  src: url('font/Pangram-Light.otf');
}
@font-face {
  font-family: PangramRegular;
  src: url('font/Pangram-Regular.otf');
}

html, body {
  max-width: 100%;
  overflow-x: hidden;
  font-family: 'AlbraBold';
}

/* Loading page */
/* #bm{
  position: fixed;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background:#212121;
} 

.all-content {
  display: none;
  opacity: 0;
  height: 100vh;
  transition: opacity 2s ease-in;
}  */

  /* Style the video: 100% width and height to cover the entire window */
  #video-bg {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: -1; 
    object-fit: cover;
  } 

.testo{
  text-align: center;
  color: #EFE402;
  z-index: 1;
}

.first a{ 
  font-size: 27.5rem;
  line-height: 85%;
  letter-spacing: 1rem;
}
.second {
  font-size: 20rem;
  line-height: 100%;
  letter-spacing: 1rem;
}

.first a:link{
  text-decoration: none;
  color: #EFE402;
}
.first a:visited{
  text-decoration: none;
  color: #EFE402;
}

.second a:link{
  text-decoration: none;
  color: #EFE402;
}
.second a:visited{
  text-decoration: none;
  color: #EFE402;
}

.desc{
  font-family: 'Poppins', sans-serif;
  font-style: italic;
}

.about-content{
  position: absolute;
  top: 100px;
}

.showreel-content{
  position: absolute;
  top: 200px;
  height: 100vh;
  width: auto;
}

.about-space{
  padding: 35px;
}

/* Mobile */

@media all and (max-width: 580px) {

  /* Showreel */

  .showreel-info{
    color: #ffffff;
    font-family: PangramLight;
    padding-top: 5vh;
    padding-bottom: 10vh;
    width: 60%;
    text-align: center;
    margin: auto;
  }

  .showreel-info > .desc {
    margin-top: 2vh;
    color:rgba(255, 255, 255, 0.3);
  }

  #showreel-video{
    width: 100vw;
    height: auto;
  }

  /* Animation about page */
  /* Versione mobile */

  @keyframes fade-in {
    0%{
      opacity: 0;
      /* top: 50px; */
      top: 20px;
    }
    100% {
      opacity: 1;
      top: 0px;
    }
  }

  .about-content .primo{
    position: relative;
    font-size: 10vh;
    line-height: 90%;
    animation: fade-in .25s linear forwards;
  }

  .about-content .secondo{
    opacity: 0;
    position: relative;
    font-size: 10vh;
    line-height: 90%;
    animation: fade-in .2s linear forwards .3s;
  }

  .about-content .terzo{
    opacity: 0;
    position: relative;
    font-size: 14vh;
    line-height: 90%;
    animation: fade-in .4s linear forwards .5s;
  }

  .line1{
    opacity: 0;
    position: relative;
    animation: fade-in 0.4s linear forwards .7s;
    font-family: PangramLight;
  }
  .line2{
    opacity: 0;
    position: relative;
    animation: fade-in 0.4s linear forwards .9s;
    font-family: PangramLight;
  }
  .line3{
    opacity: 0;
    position: relative;
    animation: fade-in 0.4s linear forwards 1.1s;
    font-family: PangramLight;
  }

  .about-content p{
    font-size: 2.3vh;
  }

  .greetings{
    opacity: 0;
    position: relative;
    animation: fade-in 0.6s linear forwards 1.3s;
    font-weight: bold;
    margin-top: 4vh;
  }

  #cv, 
  #cv:visited{
    text-decoration: none;
    color: #000000;
    opacity: 0;
    position: relative;
    animation: fade-in 0.6s linear forwards 1.5s;
    font-weight: bold;
    font-size: 2.3vh;
  }

  .svg-container{
    fill: transparent;  
    stroke-width: 4;
    stroke: #EFE402;
    width: 80%;
    height: auto;
    position: relative;
    top: 50%;
    left: 50%; 
    transform: translate(-50%, -50%);
  }
  
  .svg-container:hover{
    fill: #EFE402;
  }

}

/* Tablet */
@media all and (min-width: 580px) and (max-width: 1199px){

  /* Showreel */

  /* .video{
    position: absolute;
    top: calc(50% + 100px);
    transform: translate(0, calc(-50% - 50px));
  } */


  .showreel-info{
    color: #ffffff;
    font-family: PangramLight;
    padding-top: 5vh;
    padding-bottom: 10vh;
    width: 60%;
    text-align: center;
    margin: auto;
  }

  .showreel-info > .desc {
    margin-top: 2vh;
    color:rgba(255, 255, 255, 0.3);
  }

  #showreel-video{
    width: 100vw;
    height: auto;
  }

  /* Animation about page */
  /* Versione tablet */

  @keyframes fade-in {
    0%{
      opacity: 0;
      /* top: 50px; */
      top: 20px;
    }
    100% {
      opacity: 1;
      top: 0px;
    }
  }

  .about-content .primo{
    position: relative;
    font-size: 14vh;
    line-height: 90%;
    animation: fade-in .25s linear forwards;
  }

  .about-content .secondo{
    opacity: 0;
    position: relative;
    font-size: 14vh;
    line-height: 90%;
    animation: fade-in .2s linear forwards .3s;
  }

  .about-content .terzo{
    opacity: 0;
    position: relative;
    font-size: 17vh;
    line-height: 90%;
    animation: fade-in .4s linear forwards .5s;
  }

  .line1{
    opacity: 0;
    position: relative;
    animation: fade-in 0.4s linear forwards .7s;
    font-family: PangramLight;
  }
  .line2{
    opacity: 0;
    position: relative;
    animation: fade-in 0.4s linear forwards .9s;
    font-family: PangramLight;
  }
  .line3{
    opacity: 0;
    position: relative;
    animation: fade-in 0.4s linear forwards 1.1s;
    font-family: PangramLight;
  }

  .greetings{
    opacity: 0;
    position: relative;
    animation: fade-in 0.6s linear forwards 1.3s;
    font-weight: bold;
    margin: 4vh 0 1vh 0;
  }

  #cv, 
  #cv:visited{
    text-decoration: none;
    color: #000000;
    opacity: 0;
    position: relative;
    animation: fade-in 0.6s linear forwards 1.5s;
    font-weight: bold;
    font-size: 2.3vh;
  }

  /* .about-content p{
    font-size: 2.8vh;
  } */

  /* about content */

  .about-content p{
    font-size: 2.3vh;
  }

  .svg-container{
    fill: transparent;  
    stroke-width: 4;
    stroke: #EFE402;
    width: 80%;
    height: calc(100vh - 15vh);
    position: relative;
    top: 10vh;
    left: 50%; 
    transform: translate(-50%);
  }
  
  .svg-container:hover{
    fill: #EFE402;
  }

}

/* Desktop */
@media all and (min-width: 1200px) {

  .logo.invisibile{
    color: transparent;
  }

  /* Animation about page */

  @keyframes fade-in {
    0%{
      opacity: 0;
      /* top: 50px; */
      top: 20px;
    }
    100% {
      opacity: 1;
      top: 0px;
    }
  }
  
  .about-content .primo{
    position: relative;
    /* font-size: 8vh; */
    font-size: 17vh;
    line-height: 90%;
    animation: fade-in .25s linear forwards;
  }
  
  .about-content .secondo{
    opacity: 0;
    position: relative;
    /* font-size: 8vh; */
    font-size: 17vh;
    line-height: 90%;
    animation: fade-in .2s linear forwards .3s;
  }
  
  .about-content .terzo{
    opacity: 0;
    position: relative;
    /* font-size: 8vh; */
    font-size: 17vh;
    line-height: 90%;
    animation: fade-in .4s linear forwards .5s;
  }
  
  .line1{
    opacity: 0;
    position: relative;
    animation: fade-in 0.4s linear forwards .7s;
    font-family: PangramLight;
  }
  .line2{
    opacity: 0;
    position: relative;
    animation: fade-in 0.4s linear forwards .9s;
    font-family: PangramLight;
  }
  .line3{
    opacity: 0;
    position: relative;
    animation: fade-in 0.4s linear forwards 1.1s;
    font-family: PangramLight;
  }
  
  .about-content p{
    font-size: 2.5vh;
  }

  .greetings{
    opacity: 0;
    position: relative;
    animation: fade-in 0.6s linear forwards 1.3s;
    font-weight: bold;
  }

  #cv, 
  #cv:visited{
    text-decoration: none;
    color: #000000;
    opacity: 0;
    position: relative;
    animation: fade-in 0.6s linear forwards 1.5s;
    font-weight: bold;
    font-size: 2.5vh;
  }

  .showreel-content{
    position: absolute;
    top: 100px;
    height: calc(100vh + 100px);
    width: auto;
  }

  .video{
    width: 100vw;
    height: calc(100vh - 100px);
  }

  .showreel-info{
    color: #ffffff;
    font-family: PangramLight;
    padding-top: 5vh;
    padding-bottom: 10vh;
    width: 60%;
    text-align: center;
    margin: auto;
  }

  .showreel-info > .desc {
    margin-top: 2vh;
    color:rgba(255, 255, 255, 0.3);
  }

  
  #showreel-video{
    width: 100%;
    height: 100%;
  }

  .svg-container{
    fill: transparent;  
    stroke-width: 4;
    stroke: #EFE402;
    width: 80%;
    height: calc(100vh - 15vh);
    position: relative;
    top: 10vh;
    left: 50%; 
    transform: translate(-50%);
  }
  
  .svg-container:hover{
    fill: #EFE402;
  }


}

/* Nav */
nav {
  float: right;
  /* position: absolute; */
  position: fixed;
  right: 0;
}
nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
nav ul li {
  float: left;
  position: relative;
}
nav ul li a {
  display: block;
  padding: 0 20px;
  line-height: 100px;
  background: #efe30200;
  color: #EFE402;
  text-decoration: none;
  font-family: PangramLight; 
  font-size: 1.2em;
}
nav ul li a:hover {
  color: #000000;
  font-style: italic;
}
nav ul li a:not(:only-child):after {
  padding-left: 4px;
  content: " ▾";
}
nav ul li ul li {
  min-width: 190px;
}
nav ul li ul li a {
  padding: 15px;
  line-height: 20px;
  z-index: 1;
}

.nav-dropdown {
  position: absolute;
  display: none;
  z-index: 1;
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.15);
}

.nav-mobile {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  height: 100px;
  width: 100px;
}

#nav-toggle {
  position: absolute;
  left: 18px;
  top: 22px;
  cursor: pointer;
  padding: 25px 50px 20px 20px;
}
#nav-toggle span,
#nav-toggle span:before,
#nav-toggle span:after {
  cursor: pointer;
  border-radius: 1px;
  height: 3px;
  width: 22.5px;
  background: #000000;
  position: absolute;
  display: block;
  content: "";
  transition: all 300ms ease-in-out; 
}
#nav-toggle span:before {
  top: -8px;
}
#nav-toggle span:after {
  bottom: -8px;
}
#nav-toggle.active span {
  background-color: transparent;
}
#nav-toggle.active span:before, #nav-toggle.active span:after {
  top: 0;
}
#nav-toggle.active span:before {
  transform: rotate(45deg);
}
#nav-toggle.active span:after {
  transform: rotate(-45deg);
}

@media only screen and (max-width: 800px) {
  .nav-mobile {
    display: block;
    background: #EFE402;
  }
  nav {
    width: 100%;
    padding: 80px 0 15px;
  }
  nav ul {
    display: none;
  }
  nav ul li {
    float: none;
  }
  nav ul li a {
    padding: 15px;
    line-height: 20px;
    text-align: right;
    color: #000000;
  }
  nav ul li ul li a {
    padding-left: 20px;
  }
  .nav-dropdown {
    position: static;
  }
  .navigation {
    height: 100px;
    width: 100%;
    background: #EFE402;
    position: fixed;
    z-index: 99;
  }
  .brand a,
  .brand a:visited {
    color: #000000;
    text-decoration: none;
  }
  nav ul li a {
    background: #EFE402;
  }
  .nav-list{
    padding: 0 25px 25px;
    background: #EFE402;
  }

  .svg-container{
    fill: transparent;  
    stroke-width: 4;
    stroke: #EFE402;
    width: 80%;
    height: auto;
    position: relative;
    top: 50%;
    left: 50%; 
    transform: translate(-50%, -50%);
  }
  
  .svg-container:hover{
    fill: #EFE402;
  }

}

@media screen and (min-width: 800px) {
  .nav-list {
    display: block !important;
  }
  .navigation {
    height: 100px;
    width: 100%;
    position: fixed;
    z-index: 99;
  }

  .brand a,
  .brand a:visited {
    color: #EFE402;
    text-decoration: none;
  }
}

.nav-list{
  padding-left: 25px;
  background: #EFE402;
}

.nav-container {
  max-width: 1000px;
  margin: 0 auto;
}

.brand {
  position: absolute;
  padding-left: 40px;
  float: left;
  left: 0;
  line-height: 100px;
  font-size: 1.8em;
  z-index: 99;
}

/* Homepage SVG */

/* .svg-container > svg{
  fill: transparent;  
  stroke-width: 4;
  stroke: #EFE402;
  width: 100%;
  height: calc(100vh - 150px);
  position: relative;
  top: 100px;
}

.svg-container > svg:hover{
  fill: #EFE402;
} */


.center{
  width: 100vw;
  height: 100vh;
  border: 1px solid red;
}

/* Footer */

.footer{
  text-align: center;
  color: #ffffff;
  padding: 4vh;
  width: 100vw;
  background: #0f0b0b;
}

.footer p {
  font-size: 2.5vh;
}

.footer .slogan:hover{
  color: #EFE402;
}

.footer .social{
  padding: 2vh;
}

.footer .social > a:hover{
  color:#EFE402;
}

.footer .social > a, 
.footer .social > a.visited{
  margin-left: 1vh;
  color: #ffffff;
  text-decoration: none;
}

#cr{
  font-size: 1.45vh;
}

.footer .copyright{
  font-size: 1.5vh;
  font-family: PangramLight;
}

.fa-facebook-f{
  font-size: 1.5em;
}

.fa-instagram{
  font-size: 1.5em;
}

.fa-vimeo-v{
  font-size: 1.5em;
}